* {
  font-family: 'Quicksand', sans-serif;
}

/* You can completely change the color scheme! Go to https://uigradients.com for gradient inspiration!! */
body {
  background-color: #000000;
  background: linear-gradient(45deg, #ff9999, #ff9999);
  width: 80%;
  margin: auto;
}

h1 {
  color: #000000;
  text-align: center;
  padding: 15px;
  font-size: 200%;
}

form {
  margin-bottom: 20px;
  background-color: #311D00;
  margin: auto;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  width: 690px;
}

p {
  color: #FFFFFF;
  width: 55%;
  padding-right: 15px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#input-field,
.submit-btn {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  margin-top: 8.5px;
  margin-bottom: 8.5px;
  font-size: 90%;
  outline: none;
  border: none;
  text-align: center;
}

#input-field::placeholder {
  color: #000000;
}

.submit-btn {
  background-color: #ff9999;
  color: #fff;
  transition: all 0.5s;
  text-transform: uppercase;
  cursor: pointer;
  padding: 7.5px 35px;
}

.submit-btn:hover {
  background-color: #DD665F;
  cursor: pointer;
}

/* The code below sets the data up in a 2x2 square, like the hedgehog page */
#data-container {
  margin: auto;
  width: 700px;
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 350px 350px;
  grid-template-areas: "image1 image2" "image3 image4";
  background-color: #ff9999;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 40px;
}
#image1, #image2, #image3, #image4 {
  width: 350px;
  height: 350px;
  object-fit: cover;
}
#image1 {
  grid-area: image1;
}
#image2 {
  grid-area: image2;
}
#image3 {
  grid-area: image3;
}
#image4 {
  grid-area: image4;
}

/* The code below sets the data up in rows. This might be more appropriate for you if you are pulling in words/numbers rather than images. It is commented out right now; if you want rows, you should UNcomment out the following code and COMMENT out the code above this, for the 2x2. */

/* #data-container {
  margin: auto;
  width: 700px;
  display: flex;
  flex-direction: column;
  background-color: #EDF4F1;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 40px;
}

#image1, #image2, #image3, #image4 {
  padding: 10px;
} */
